@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

header{
  background-image: url('images/background.jpg'); /* Adds background image. */
  background-repeat: no-repeat; /* Do not repeat background image to fill element (default repeats). */
  background-size: 100% 100%; /* Sets width then height of background image to be 100% of container. */
  color: white; /* Text color */
  text-align: center; /* Center text horizontally. */
  font-family: "Permanent Marker";
}

section {
  overflow: hidden; /* Content that overflows a section will not be visible. */
}

html, body {
    margin: 0;  /* Why? */
}

/* A section that will take up the full viewport (screen). */
.fullscreen {
  height: 100vh; /* Set height 100% of viewport (screen) height. */
  width: 100wh; /* Set width 100% of viewport (screen) width. */
}

/* An element that will have all of its children centred horizontally and vertically
using flexbox. */
.center {
  display: flex; /* Use flexbox */
  justify-content: center; /* Vertical centering (main axis)*/
  align-items: center;  /* Horizontal centering (cross axis)*/
  flex-direction: column; /* Establishes vertical direction as main axis. Elements will be placed vertically. */
  }

/* Text will have green colour. */
  .green {
    color: #02ffb7;
  }
